{% extends 'projectMain/base2.html' %}
{% block contentform %}

<body class="fp-page" style="max-width: 500px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="fp-box">
        <div class="card">
            <div class="body">
				<div class="logo">
                 {% load static %}
				<a href="javascript:void(0);"><img style="width:250px;" src="{% static 'projectMain/images/Logo.png' %}" alt=""></a>
				</div>
                <form id="forgot_password" method="POST">
                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" placeholder="Email" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">RESET MY PASSWORD</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/sign-in/">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 {% endblock contentform %}