{% extends 'projectMain/base2.html' %}
{% block contenttitle %} Reset Password {% endblock contenttitle %}
{% block contentform %}
<body class="signup-page" style="max-width: 500px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="signup-box">
        <div class="card">
            <div class="body">
				<div class="logo">
                    {% load static %}
					<a href="javascript:void(0);"><img style="width:250px;" src="{% static 'projectMain/images/Logo.png' %}" alt=""></a>
				</div>

            <div class="alert alert-success">
                <center>Password Reset was Successful</center>
            </div>
            <a href="{% url 'sign-in' %}">Login to Your Account?</a>
					
            </div>
        </div>
    </div>
</div>
{% endblock contentform %}