{% extends 'projectMain/base2.html' %}
{% block title2 %}Success {% endblock title2 %}
{% block contentform %}

<body class="fp-page" style="max-width: 500px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="fp-box">
        <div class="card">
            <div class="body">
				<div class="logo">
                 {% load static %}
				<a href="javascript:void(0);"><img style="width:250px;" src="{% static 'projectMain/images/Logo.png' %}" alt=""></a>
				</div>
                <form id="forgot_password" method="POST">
                    <div class="msg">
                        <div class="alert alert-success">
							Password Reset was successful
						</div>
                    </div>


                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/sign-in/">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 {% endblock contentform %}