{% extends 'projectMain/base2.html' %}
{% block title2 %}Confirm {% endblock %}
{% block contentform %}

<body class="fp-page" style="max-width: 500px;">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="fp-box">
        <div class="card">
            <div class="body">
				<div class="logo">
                 {% load static %}
				<a href="javascript:void(0);"><img style="width:250px;" src="{% static 'projectMain/images/Logo.png' %}" alt=""></a>
				</div>
                <form id="forgot_password" method="POST">
                    {% csrf_token %}
                    <div class="msg">
                        Type your new password
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">

                            <input type="password" class="form-control" name="new_password1" placeholder="Password" required autofocus>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">

                            <input type="password" class="form-control" name="new_password2" placeholder=" Confirm Password" required autofocus>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">RESET MY PASSWORD</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="/sign-in/">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 {% endblock contentform %}